.sidebar {
  width: 30%;
  float: right;
  padding: 20px;
  border: solid crimson;
  border-width: 20px;
  background-color: rgb(129, 79, 32);  
  
}

.main {
  width: 60%;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: bold;
  float: left;
}

.pic {
  width: 250px;
  padding: 20px;
  border: solid magenta;
  border-width: 15px;
  float: left;
}